# General dependencies for the project
#streamlit==1.12.0
#scikit-learn==1.0.2
#numpy==1.21.5
pandas
scikit-learn
numpy
matplotlib
seaborn
xgboost
pytest==7.2.2
flask==2.3.3

# Optional: If you need a specific tool for running notebooks
# nbval==0.9.0

# For additional testing or linting
# flake8==6.0.0

nbconvert==7.5.0
kagglehub

